<html>
  
      <head>
          <title>Sound Hub <%= title %></title>
          <meta name="author" content="Andrea Gualandris">
      
          <link href="../css/style.css" rel="stylesheet" />
      </head>
      
      
      
      <body class="bodyContainer">
      
          <header class="header">
              <h1>Sound Hub</h1>
      
          </header>
      
          <div class="contain">
      
              <aside class="asideL">
                  <section class="nav">
                      <a href="/">Home</a>
                  </section>
      
                  <section class="nav">
                      <a href="/songs">Songs</a>
                  </section>

                  <section class="nav">
                    <a href="/songs/upload">Upload</a>
                </section>
              </aside>