<div class="player" style="height: 750px; margin-top: 150px;">

    <button style="background-image: url(images/play.svg);" id="play"></button>

    <button style="background-image: url(images/pause.svg);" id="pause"></button>

    <button style="background-image: url(images/next.svg);" class="small" id="next"></button>


</div>